@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inmeta Exception Reporter Web</h1>
    <p class="lead"></p>
    <p></p>
</div>

<div class="row">
    <h1>Upload exceptions</h1>

    <div id="dialog" title="View exception file">
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
    
        
        <input type = "file" id = "fileUpload" name = "fileUpload" size = "23" />
        <input type = "submit" value = "View exception file"/>
        
    }
            </div>
    <br />
    <br />
    <br />
    <p >
        There are @Model.Exceptions.Count exceptions in the file.
    </p>
    <table width="100%">
        <tr>
            <th>
                Reporter
            </th>
            <th>
                Comment
            </th>
            <th>
                Message
            </th>
            <th>
                [Class].[Method]
            </th>
        </tr>
        <tr>
            <td>
                <div id="CommitItemsTop" title="Commit">
                    @using (Html.BeginForm("Commit", "Home", FormMethod.Post))
                    {
                        @Html.TextBox("Filename");
                    <input type="submit" value="Upload Exceptions." />
                    
                    }
                    
                </div>
            </td>
        </tr>
        @foreach (var item in Model.Exceptions)
        {

            <tr>
                <td style="vertical-align: middle">
                    @Html.Encode(item.Reporter);
                </td>
                <td style="vertical-align: middle">
                    @Html.Encode(item.Comment);
                </td>
                <td style="vertical-align: middle">
                    @Html.Encode(item.ExceptionMessage);
                </td>
                <td style="vertical-align: middle">
                    @Html.Encode("[" + item.TheClass + "].[" + item.TheMethod + "]");
                </td>
            </tr>
        }
    </table>
    @using (Html.BeginForm("Commit", "Home", FormMethod.Post))
    {
    
        Html.TextBox("filename");
      <input type="submit" value="Upload Exceptions" />
    
    }
    
</div>